body {
    font-family: raleway;
    font-weight: 100;
}


.logo-viajeschile {
    width: 3%;
    height: 3%;
    vertical-align: middle;
    margin-right: 1%;
}


.texto-footer {
    font-weight: bolder;
    vertical-align: middle;
}
html {
    scroll-behavior: smooth;
  }